<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}

</head>

<body>
   {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/boy.jpeg" alt="Loading" class="img-fluid">
                        </figure>

                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>My name is  <span class="text_clr">PAVITRA KHATRI</span> UI developer</h1>
                        <a href="https://www.google.com/" target="_blank"><button>Click here</button></a>

                    </div>

                </div>

            </div>
        </div>
    </div>
{{>footer}}
</body>

</html>